* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Menlo", "Andale Mono", "Courier New", Monospace;
}

#terminal {
  background-color: #000;
  display: block;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}
